#slider{
  position:relative;
  margin-bottom:30px;
}
#slider-stage{
  position:relative;
  height:170px;
  background:#ccc;
  overflow:auto;
  overflow-x:hidden;
  overflow-y:hidden;
  margin:0 auto;
}
#slider-buttons{
  width:632px;
  margin:0 auto;
}
	#slider-list{
    width:8000px;
    border:0;
    margin:0;
    padding:0;
    left:400px;
    }
	#slider-list li{
		list-style:none; 
		margin:0; 
		padding:0; 
		border:0; 

    height:170px;
    width:380px;
    float:left;
    position:relative;
    
    line-height:170px;
    text-align:center;
    font-size:50px;
    color:#fff;
  }
  #slider .s1{
    background:#999;
  }
  #slider .s2{
    background:#666;
  }
  #slider .s3{
    background:#333;
  }


#slider .arrow{
  cursor:pointer;
  position:absolute;
  width:41px;
  height:41px;
  top:62px;
}
#slider #previous{
  left:-51px;
  background:url(../images/slider_arrows-white.png) top left no-repeat;
}
#slider #previous:hover{
  background:url(../images/slider_arrows-white.png) bottom left no-repeat;
}
#slider #next{
  right:-51px;
  background:url(../images/slider_arrows-white.png) top right no-repeat;
}
#slider #next:hover{
  background:url(../images/slider_arrows-white.png) bottom right no-repeat;
}

#slider li div{
  position:absolute;
  bottom:10px;
  left:0;
  width:100%;
}
#slider li p{
  font-family:Calibri, sans-serif;
  font-weight:bold;
  font-size:16px;
  color:#000;
  display:inline-block;
  line-height:12px;
  width:auto;
  height:auto;
  background:rgba(255,255,255,1.0);
  background:#fff;
  filter: alpha(opacity=80);
  opacity:0.8;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  text-align:center;
  margin:0;
  padding:5px 20px;
}
