    <#include "/WEB-INF/freemarker/include/imports.ftl">
<#--
  Copyright 2014 Hippo B.V. (http://www.onehippo.com)

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<#-- @ftlvariable name="menu" type="org.hippoecm.hst.core.sitemenu.HstSiteMenu" -->
<#-- @ftlvariable id="editMode" type="java.lang.Boolean"-->
<#if menu??>
  <#if menu.siteMenuItems??>    
      <#list menu.siteMenuItems as item>
      	&nbsp;|&nbsp;
        <#if  item.selected || item.expanded>
          <b><a href="<@hst.link link=item.hstLink/>">${item.name}</b>
        <#else>
          <a href="<@hst.link link=item.hstLink/>">${item.name}</a>
        </#if>
      </#list>    
  </#if>
  <@hst.cmseditmenu menu=menu/>
<#else>
  <#if editMode>
    <h5>[Menu Component]</h5>
    <sub>Click to edit Menu</sub>
  </#if>
</#if>